
// Colores
$primario: #f4f1deff;
$secundario: #192bc2ff;
$alerta: #ff0035ff;
$gris-oscuro: #231f20ff;
$negro: #020202ff;

// Fuentes
$fuente_principal: "Istok Web", serif;

$fuente_secuandaria: "Istok Web", serif;

$regular: 400;
$bold: 700;

$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

$separacion: 5rem;
