@use "../base/variables" as v;

.main {
    text-transform: capitalize;
}

.main__about {
  h3 {
    font-size: 30rem;
    
    font-weight: v.$bold;
    text-align: end;
    // position: relative;
    // right: -5.8rem;
  }

  hr {
    margin: 6rem 0 ;
  }

  a {
    font-size: 4.4rem;
    font-weight: v.$bold;
    position: relative;

  }

  a:after{
    content: '';
    width: 100%;
    height: 0.3rem;
    background: v.$blanco;
    border-radius: 10rem;
    position: absolute;
    bottom: 0;
    left: 0;

  }
}


.about__contenido {
    
    padding-left: 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  
  p {
      font-size: 3.2rem;
    }
    
    p:first-child {
        font-weight: v.$bold;
    }
}


.about__line {
    display: flex;
    align-items: end;
    justify-content: end;
  p {
    font-size: 30rem;
    font-weight: v.$bold;
    margin: 0;
    padding-right: 20rem;
    

  }
}
