@use '../base/variables' as v;
@use 'sass:color';

.navegacion-principal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background: color.scale(v.$primario, $lightness: -5%);

    a h2{
        font-weight: v.$bold;
        margin: 0;
    }
    a:last-child {
        position: relative;

        &::before {
            content: " ";
            width: 0%;
            height: .1rem;
            background: black;
            display: block;
            position: absolute;
            bottom: .4rem;
            left: 50%;
            transform: translateX(-50%);
            transition: width 0.3s ease-in-out;
        }

        &:hover::before {
            width: 100%;
        }
    }


}