@use '../base/variables' as v;


.main__skills {
    h3 {
        font-size: 30rem;
        width: 100rem;
        line-height: 30rem;
        
        font-weight: v.$bold;
        text-align: start;
        position: relative;
        left: -5rem;
      }
}